@charset "UTF-8";
/* CSS Document */

body {background-color: #ffffff;}
.jumbotron {
	background-color: #ffffff;
	background-image:url(../images/patterns/sneaker_mesh_fabric.png);
	background-repeat: repeat;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 50px 0 rgba(0, 0, 0, 0.19);
}

.img-circle {
    margin: 0 auto;
}

.porte:hover{
	opacity: 0.5;
}

h3 {font-weight: 200;}

